@keyframes slideInLeft {
  0% {
    transform: translateX(-100%); /* Start off-screen to the left */
    opacity: 0; /* Start invisible */
  }
  100% {
    transform: translateX(0); /* End at its original position */
    opacity: 1; /* End fully visible */
  }
}

/* Apply the animation to the target element */
.slide-in-text {
  animation: slideInLeft 2s ease-out; /* Apply animation with 1s duration and ease-out */
}
.floating-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align images towards the left */
}


/* Floating effect */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes float2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes float3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes float4 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Individual floating delays */
.bubble-1 {
  animation: float 4s ease-in-out infinite;
  animation-delay: 0.5s;
  margin-left: 60px;
}

.bubble-2 {
  animation: float2 4s ease-in-out infinite;
  animation-delay: 1s;
  margin-left: 40px;
}

.bubble-3 {
  animation: float3 4s ease-in-out infinite;
  animation-delay: 1.5s;
  margin-left: 20px;
}

.bubble-4 {
  animation: float4 4s ease-in-out infinite;
  animation-delay: 2s;
  margin-left: 0px;
}
